<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .lead {
            padding-top: 10px;
            padding-bottom: 10px;
            padding-left: 6px;
            padding-right: 6px;
            margin-top: 10px;
            background-color: aquamarine;
            width: 100%;
        }
    </style>
</head>
<body>
<a href="/leads">Go back</a>
<hr/>
<h1>Details of {{ lead.first_name }}</h1>
<p>
    This person age: {{ lead.age }}
</p>
</body>
</html>