{% extends "base.html" %}
{% block content %}
    <h1>Our leads</h1>
    <a href="{% url 'leads:create-lead' %}" class="btn btn-outline-secondary">Create new lead</a>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">First name</th>
            <th scope="col">Last name</th>
            <th scope="col">Phone number</th>
            <th scope="col">Email</th>
            <th scope="col">Category</th>
            <th scope="col">Added</th>


            <th scope="col">Interaction</th>

        </tr>
        </thead>
        <tbody>
        {% for lead in leads %}

            <tr>
                <td>{{ lead.first_name }}</td>
                <td>{{ lead.last_name }}</td>
                <td>{{ lead.phone_number }}</td>
                <td>{{ lead.email }}</td>
                <td>{{ lead.category }}</td>
                <td>{{ lead.added }}</td>

                <td>
                    <a href="{% url 'leads:detail-lead' lead.pk %}" class="btn btn-outline-primary">More info</a>
                </td>
            </tr>
        {% endfor %}

        </tbody>
    </table>

    <div>
        {% if unassigned_leads.exists %}
            <h1>Unassigned leads</h1>
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">First name</th>
                    <th scope="col">Last name</th>
                    <th scope="col">Phone number</th>
                    <th scope="col">Email</th>
                    <th scope="col">Category</th>
                    <th scope="col">Added</th>

                    <th scope="col">Interaction</th>

                </tr>
                </thead>
                <tbody>
                {% for lead in unassigned_leads %}
                    <tr>
                        <td>{{ lead.first_name }}</td>
                        <td>{{ lead.last_name }}</td>
                        <td>{{ lead.phone_number }}</td>
                        <td>{{ lead.email }}</td>
                        <td>{{ lead.category }}</td>
                        <td>{{ lead.added }}</td>
                        <td>
                            <a href="{% url 'leads:agent-assign' lead.pk %}" class="btn btn-outline-primary">
                                Assign agent
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </div>
{% endblock content %}