<header class="text-gray-600 body-font">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'landing-page' %}">CRM</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                {% if request.user.is_authenticated %}
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="{% url "leads:list-lead" %}">Leads</a>
                        </li>
                        {% if request.user.is_organiser %}
                            <li class="nav-item">
                                <a class="nav-link" href="{% url "agents:agents_list" %}">Agents</a>
                            </li>
                        {% endif %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url "leads:categories" %}">Categories</a>
                        </li>

                    </ul>
                {% endif %}
                <ul class="navbar navbar-nav navbar-right">
                    {% if request.user.is_authenticated %}

                        <li>
                            Hi {{ user.username }}
                        </li>
                        <li class="nav-link">
                            <a href="{% url 'logout' %}" class="nav-link">
                                Logout
                            </a>
                        </li>
                    {% else %}
                        <li class="nav-link">
                            <a href="{% url 'signup' %}" class="nav-link">
                                SignUp
                            </a>
                        </li>
                        <li class="nav-link">
                            <a href="{% url 'login' %}" class="nav-link">
                                LogIn
                            </a>
                        </li>
                    {% endif %}

                </ul>

            </div>
        </div>
    </nav>
</header>